# ReSharper inspection severities

[*.cs]

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# SA1310: Field names should not contain underscore
dotnet_diagnostic.SA1310.severity = none

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none
