*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.binlog
*.*sdf
*.typemock
*.tmp
*.metaproj
*.[Pp]ublish.xml
[Bb]uild[Ll]og.*
[Bb]in/
[Oo]bj/
.vs/
_ReSharper*/
/artifacts/
*/packages/
.packages/
/shipping/
*.g.cs
*.g.props
.packages
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/shelf
/publish/
/tools/
**/inspectcode.xml
/.local
/eng/MetalamaVersion.props
MetalamaVersion.props
TestResults
launchSettings.json
.idea/workspace.xml
/eng/tools
Metalama.Import.props
coverage.json
/.vscode
/.tools
/dependencies