<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="RoslynEx Debug" value="C:\code\roslyn\artifacts\packages\Debug\Shipping" />
    <!--<add key="RoslynEx Release" value="C:\code\roslyn\artifacts\packages\Release\Shipping" />-->

    <add key="Caravela.Caravela Debug" value="artifacts/bin/Debug" />
  </packageSources>
</configuration>
