<?xml version="1.0" encoding="utf-8"?>

<Project xmlns="http://schemas.postsharp.org/1.0/configuration" ReferenceDirectory="{$ReferenceDirectory}"
         OverridesDefaultProject="true">

    <Property Name="WriteWeavingSymbols" Value="false" Overwrite="false" />

    <SearchPath Path="{$PostSharpSearchPath}" PathKind="Directory" />

    <Using File="..\Build\Metalama.Obfuscator\Obfuscator.psplugin" />

    <Tasks>

        <!-- Obfuscate-->
        <Obfuscate MapFile="{$ObfuscateMapFile}" RootPath="{$ObfuscateRootPath}" />

        <!-- Compiles back the file. -->
        <Compile TargetFile="{$Output}"
                 IntermediateDirectory="{$IntermediateDirectory}"
                 CleanIntermediate="{$CleanIntermediate}"
                 SignAssembly="{$SignAssembly}"
                 PrivateKeyLocation="{$PrivateKeyLocation}" />

    </Tasks>
</Project>