<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<!-- https://learn.microsoft.com/en-us/dotnet/standard/assembly/disable-strong-name-bypass-feature#disable-the-strong-name-bypass-feature-for-a-single-application -->
		<bypassTrustedAppStrongNames enabled="false" />
	</runtime>
</configuration>